.card{
    border: 0px;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.green-bg{
    background-color: #7be698;
}

.orange-bg{
    background-color: #f3bc93;
}

.pink-bg{
    background-color: #f6e6ff;
}

.blue-bg{
    background-color: #69ebed;
}